.options {
    position: absolute;
    top: 145px;
    size: 30px;
    left: 330px;
    font-size: 26px;
}

input {
    width: 400px;
    font-size: 20px;
    color: #222222;
    width: 400px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
}

input::placeholder {
    color: #aaaaaa;
}

input:focus {
    outline: none;
}

.colorGrid {
    position: relative;
    right: 40px;
    display: grid;
    grid-template-columns: repeat(4, 55px); /*  4개씩 간격 - */
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.colorBtn {
    position: relative;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.smileEx {
    background-color: #b50000;
    position: fixed;
    bottom: 200px;
    right: 370px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.Cover {
    position: fixed;
    top: 273px;
    right: 330px;
    width: 430px;
    height: 600px;
    background-color: #AFAFAF;
    border-radius: 15px;
}

.strap {
    position: fixed;
    top: 273px;
    right: 730px;
    width: 32px;
    height: 600px;
    background-color: #5e5e5e;
    border-radius: 15px;
}

.label {
    position: fixed;
    top: 319px;
    right: 400px;
    width: 270px;
    height: 80px;
    background-color: white;
    border-radius: 15px;

}

.hashtags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; /* 해시태그 사이 간격 */
    margin-top: 8px;
}

.hashtags div {
    background-color: #fffdf0;
    border: 2px solid #FFD447;
    border-radius: 20px;
    padding: 8px 12px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: 0.2s;
}

.hashtags div.selected {
    background-color: #FFD447; /* 선택됐을 때 배경색 */
    color: #fff;
    border-color: #FFC300;
}

.board {
    width: 500px;
    height: 100px;
    box-shadow: 1px 1px 5px 1px #cccccc;
    border-radius: 15px;
}

.sticker {
    position: relative;
    right: 5px;
    display: grid;
    grid-template-columns: repeat(6, 50px); /*  4개씩 간격 - */
    gap: 30px;
    justify-content: center;
    margin-bottom: -50px;
}

.stickers {
    position: relative;
    bottom: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.smileEx {
    background-color: #FFD447;
    position: fixed;
    bottom: 235px;
    right: 360px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 10;
}

.diaryCreateBtn {
    position: absolute;
    color: #000000;
    font-size: 18px;
    width: 220px;
    height: 60px;
    background-color: #dcdcdc;
    top: 946px;
    left: 1500px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.diaryCreateBtn:hover {
    background-color: #ffc8ed;
    color: #fff;
}

.warn-popup {
    border-radius: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1.2rem 1.8rem;
    background: linear-gradient(#FEF5F0, #F5BBD3);
    color: #9b6078;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.warn-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f275a3;
}