.diaryPicture{
    position:fixed;
    top: 229px;
    left: 17.3%;
    width: 1257.12px;
    height: 691.58px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
.message{
    position: fixed;
    top: 500px;
    left: 800px;
    font-size: 30px;
}
