.download-container {
    background: linear-gradient(#FEF5F0, #F5BBD3);
    height: 100vh;
}

.white-box {
    position: fixed;
    top: 9%;
    left: 34%;
    width: 612px;
    height: 888px;
    border-radius: 41px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.d-cover {
    position: fixed;
    top: 26%;
    left: 43.7%;
    width: 241px;
    height: 313px;
    background-color: #AFAFAF;
    border-radius: 15px;
}

.d-strap {
    position: fixed;
    top: 26%;
    left: 43.7%;
    width: 20px;
    height: 313px;
    background-color: #5e5e5e;
    border-radius: 15px;
}

.d-label {
    position: fixed;
    top: 29%;
    left: 46.5%;
    width: 151px;
    height: 41px;
    background-color: white;
    border-radius: 15px;
}

.d-input {
    position: fixed;
    top: 63%;
    left: 38%;
    width: 449px;
    border-color: black;
}

d-input::placeholder {
    position: fixed;
    left: -2px;
    color: #D9D9D9;
    font-size: 24px;
}

.d-button {
    position: fixed;
    top: 70%;
    left: 38%;
    width: 461px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #FFC4C4;
    font-size: 17px;
    font-weight: lighter;
    color: white;
    letter-spacing: 1px;
}

.diarySticker {
    position: relative;
    width: 40px;
    top: 530px;
    left: 1020px;
}