.bar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 25px 0px #e2e2e2;
    z-index: 10;
}

.headerLogo {
    position: fixed;
    font-size: 30px;
    color: #7D7D7D;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 330px;
    cursor: pointer;
}

.headerLogo:hover{
    color: #ffbbe8;
}